
<div>
    <nav class="navbar navbar-default">        
            <a [routerLink]="['/']" class="navbar-brand  pull-left">{{title}}</a>
            <div class="container">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/vehicles']">Vehicles</a>
                </li>
            </ul>            
            </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>